#header {
    background-color: beige;

    /* float: right; */
}

#logo {
    height: 100px;
    vertical-align: middle;
}

h1 {
    /* float: right; */
    display: inline;
  
}

#searchingBar {
    background-color: rgb(233, 227, 219);
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: beige;
    text-align: center;
    color: gray;
}

#foot {
    float: left;
}